VITE_GAS_API_URL=https://script.google.com/macros/s/AKfycbzYvpILMHQaCZaNXurBChx8hthrSyj_FqdKtNcZiiFG61YwnynIIJBT58Lzz51mrBka0w/exec
VITE_GAS_DEV_PROXY_PATH=/api/gas
# Optional: set true to bypass proxy and call GAS URL directly in dev
VITE_GAS_FORCE_DIRECT=false
